<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= locals.title %>
  </title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <h1 id="page-heading">Contact List</h1>
  <div>
    <ul>
      <% for (let i of contact_list) {%> 
            <li>
              <p> <%= i.name%> </p>
              <p><%= i.phone%></p>
            </li>
      <%} %>
    </ul>
  </div>
  <form action="/create-contact" method="POST">
    <input type="text" name="name" placeholder="Enter Name" required>
    <input type="text" name="phone" placeholder="Enter Phone Number" required>

    <button type="submit">Add Contact</button>
  </form>
  <form action="/delete-contact" method="POST">
    <button type="submit">Delete Contact</button>
  </form>
  <script type="text/javascript" src="/js/home.js"></script>
</body>
</html>